@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=The+Nautigal:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=The+Nautigal:wght@400;700&family=Uchen&display=swap');


.text01{font-family: 'Alumni Sans Inline One', cursive; font-family: 'The Nautigal', cursive font-family: 'Uchen', serif;}
.text02{font-family: 'Alumni Sans Inline One', cursive; font-family: 'The Nautigal', cursive;}
.text03{font-family: 'The Nautigal', cursive;}